@model StaffMembers.Questions

@{
    ViewData["Title"] = "Edit";
}

<style>
    #answerGroup{
        display:none;
    }
</style>

<h1>Edit</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditQuestion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionId" />
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionType" class="control-label"></label>
                <select asp-for="QuestionType" class="form-control" id="qType" onchange="collapseAnswers()">
                    <option value="" disabled selected>Select your option</option>
                    <option value="TF">True/False</option>
                    <option value="MC">Multiple Choice</option>
                    <option value="FR">Free Response</option>
                </select>
                <span asp-validation-for="QuestionType" class="text-danger"></span>
            </div>
            <div id="answerGroup">
                <div class="form-group">
                    <label asp-for="AnswerA" class="control-label"></label>
                    <input asp-for="AnswerA" class="form-control" />
                    <span asp-validation-for="AnswerA" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnswerB" class="control-label"></label>
                    <input asp-for="AnswerB" class="form-control" />
                    <span asp-validation-for="AnswerB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnswerC" class="control-label"></label>
                    <input asp-for="AnswerC" class="form-control" />
                    <span asp-validation-for="AnswerC" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnswerD" class="control-label"></label>
                    <input asp-for="AnswerD" class="form-control" />
                    <span asp-validation-for="AnswerD" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AnswerE" class="control-label"></label>
                    <input asp-for="AnswerE" class="form-control" />
                    <span asp-validation-for="AnswerE" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Question" asp-action="QuestionIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function collapseAnswers() {
        var select = document.getElementById('qType');
        var value = select.options[select.selectedIndex].value;
        var answers = document.getElementById('answerGroup');
        if (value === "MC") {
            console.log(value);
            answers.style.display = 'block';
        }
        else {
            answers.style.display = "none";
        }

    }
</script>