

@{
    ViewData["Title"] = "Add Emails";
}


<h2>Add Emails</h2>

<!--
 <hr />
 <div class="row">
     <div class="col-md-4">
         <form asp-action="Create" style="margin: 0 auto; width: 500px; padding: 0; border: 2px solid #CCC; border-radius: 1em; " class="text-center">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                 <label asp-for="RecipientType" class="control-label"></label>
                 <input asp-for="RecipientType" class="form-control" />
                 <span asp-validation-for="RecipientType" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Name" class="control-label"></label>
                 <input asp-for="Name" class="form-control" />
                 <span asp-validation-for="Name" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Email" class="control-label"></label>
                 <input asp-for="Email" class="form-control" />
                 <span asp-validation-for="Email" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="ChildName" class="control-label"></label>
                 <input asp-for="ChildName" class="form-control" />
                 <span asp-validation-for="ChildName" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Sessions" class="control-label"></label>
                 <input asp-for="Sessions" class="form-control" />
                 <span asp-validation-for="Sessions" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Locations" class="control-label"></label>
                 <input asp-for="Locations" class="form-control" />
                 <span asp-validation-for="Locations" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <input type="submit" value="Create" class="btn btn-primary" />
             </div>
         </form>
     </div>
 </div>
 -->

<div>
    <a asp-action="Index">Back to List</a>
</div>

