@{
    ViewData["Title"] = "Add Emails";
}

<style>
    form {
        margin: 0 auto;
        width: 500px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
    }
</style>


<!-- Hide parts of the form based on dropdown answer

<script type="text/javascript">
    // hide all the divs
    $('div').hide();

    $('#Recipent').change(function () {
        var value = this.value;
        $('div').hide()
        $('#' + this.value).show();
    });

</script>

    -->


<h2 class="text-center">Add Emails</h2>

<br />

<form name="email-form" class="text-center">

    <label for="Recipent">Type of Email:</label><br />
    <select name="Recipent" id="Recipent">
        <option value="Select" selected="selected" disabled="disabled" required>Parent or Instructor</option>
        <option value="Parent">Parent</option>
        <option value="Instructor">Instructor</option>
    </select>

    <br /><br />

    <label for="name">Name:</label><br />
    <input type="text" name="name" id="name" />

    <br />

    <label for="email">Email:</label><br />
    <input type="text" name="email" id="email" />

    <br />

    <div class="parent" id="parent">

        <label for="cname">Children Name:</label><br />
        <input type="text" name="cname" id="cname" /><br />

    </div>

    <div class="instructor" id="instructor">
        <label for="Location">Location:</label><br />
        <select name="Location" id="Location">
            <option value="Select" selected="selected" disabled="disabled" required>Locations...</option>
            <option value="Beaches">Beaches</option>
            <option value="Mayport">Mayport</option>
            <option value="Ponte Vedra">Ponte Vedra</option>
            <option value="Downtown">Downtown</option>
        </select><br />

        <label for="Session">Session:</label><br />
        <select name="Session" id="Session">
            <option value="Select" selected="selected" disabled="disabled" required>Sessions...</option>
            <option value="Quarter1">1st Quarter</option>
            <option value="Quarter2">2nd Quarter</option>
            <option value="Quarter3">3rd Quarter</option>
            <option value="Quarter4">4th Quarter</option>
        </select><br /><br />
    </div>

    <button class="btn btn-success">Add Email</button>


</form>

