@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CTM Web App</h1>
    <p>Christopher Church, David Tovar, Estiphanos Demissie, and Tyler Grogg</p>
</div>
