@{
    ViewData["Title"] = "Add Emails";
}

<style>
    table {
        margin: 0 auto;
        width: 500px;
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
    }
</style>


<h2 class="text-center">Manage Surveys</h2>

<br />

<div class="text-center">

    <table>
        <tr>
            <th>Surveys</th>
        </tr>

        <tr>
            <td> Parent Survey 1/1/2020</td>
            <td>
                <button class="btn btn-primary btn-sm">Send</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>

        <tr>
            <td>Instructor Survey 1//1/2020</td>
            <td>
                <button class="btn btn-primary btn-sm">Send</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>

        <tr>
            <td>Parent Survey 3/1/2020</td>
            <td>
                <button class="btn btn-primary btn-sm">Send</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>

        <tr>
            <td>Instructor Survey 3/1/2020</td>
            <td>
                <button class="btn btn-primary btn-sm">Send</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>

        <tr>
            <td> Parent Survey 6/1/2020</td>
            <td>
                <button class="btn btn-primary btn-sm">Send</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>

        <tr>
            <td>Instructor Survey 6/1/2020</td>
            <td>
                <button class="btn btn-primary btn-sm">Send</button>
                <button class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
    </table>

    <br />

    <button type="button" class="btn btn-success">Create New Survey</button>

</div>