@model StaffMembers.Sites

@{
    ViewData["Title"] = "Add Sites";
}

<form asp-action="AddSite" name="email-form" style="margin: 0 auto; width: 500px; padding: 0; border: 2px solid #CCC; border-radius: 1em; " class="text-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="siteName" class="control-label">Site Name:</label><br />
        <input asp-for="siteName" />
        <span asp-validation-for="siteName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Sites" asp-action="SitesIndex">All Sites</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}