@{
    ViewData["Title"] = "About Page";
}

<div class="card">
    <div class="card-header">
        About
    </div>
    <div class="card-body">
        <p>Staff is made up of people that are enthusiastic about what they do.</p>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary"> Home</a>
    </div>
</div>