@model StaffMembers.Recipient

@{

    ViewData["Title"] = "Add Recipient";
}


<h2 class="text-center">Add Emails</h2>

<br />


<form asp-action="AddRecipient" name="email-form" style="margin: 0 auto; width: 500px; padding: 0; border: 2px solid #CCC; border-radius: 1em; " class="text-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label for="recipent">Type of Email:</label><br />



    <div class="form-check form-check-inline">
        @Html.RadioButtonFor(m => m.RecipientType, "Parent", new { onclick = "javascript:recipient(this)" }) Parent
        <span asp-validation-for="RecipientType" class="text-danger"></span>

    </div>
    <div class="form-check form-check-inline">

        @Html.RadioButtonFor(m => m.RecipientType, "Instructor", new { onclick = "javascript:recipient(this)" }) Instructor
        <span asp-validation-for="RecipientType" class="text-danger"></span>

    </div>


    <br /><br />

    <label asp-for="Name">Name:</label><br />
    <input asp-for="Name" type="text" name="name" id="name" />
    <span asp-validation-for="Name" class="text-danger"></span>



    <br />

    <label asp-for="Email">Email:</label><br />
    <input asp-for="Email" type="text" name="email" id="email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <div class="parent" id="parent" style="visibility:visible">

        <label asp-for="ChildName">Children Name:</label><br />
        <input asp-for="ChildName" type="text" name="cname" id="cname" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />

    </div>

    <br />

    <div class="instructor" id="instructor" style="visibility:visible">

        <label asp-for="sessionID">Session:</label><br />
        <select asp-for="sessionID" name="Session" id="Session">
            <option value="Select" selected="selected" disabled="disabled" required>Sessions...</option>
            <option value="Spring 2022">Spring 2022</option>
            <option value="Spring Break 2022">Spring Break 2022</option>
            <option value="Summer Camp 2022">Summer Camp 2022</option>
            <option value="Fall 2022">Fall 2022</option>
            <option value="Intersession 2022">Intersession 2022</option>
            <option value="Spring 2023">Spring 2023</option>
            <option value="Spring Break 2023">Spring Break 2023</option>
            <option value="Summer Camp 2023">Summer Camp 2023</option>
            <option value="Fall 2023">Fall 2023</option>
            <option value="Intersession 2023">Intersession 2023</option>
        </select>
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />
        <a asp-controller="Sessions" asp-action="AddSessions" style="font-size:x-small">Add Sessions</a>
        <br />


        <label asp-for="siteID">Sites:</label><br />
        <select asp-for="siteID" name="Location" id="Location">
            <option value="Select" selected="selected" disabled="disabled" required>Locations...</option>
            <option value="Alden Rd">Alden Rd</option>
            <option value="Angelwood">Angelwood</option>
            <option value="DLC N&L">DLC N&L</option>
            <option value="DLC T&C">DLC T&C</option>
            <option value="Mainspring">Mainspring</option>
            <option value="MOE">MOE</option>
            <option value="Mt Herman">Mt Herman</option>
            <option value="NBE">NBE</option>
            <option value="NFSSE">NFSSE</option>
            <option value="Oak Hill">Oak Hill</option>
            <option value="Palm Ave">Palm Ave</option>
            <option value="PP">PP</option>
            <option value="River Oaks">River Oaks</option>
        </select>
        <span asp-validation-for="Email" class="text-danger"></span>
        <br />
        <a asp-controller="Loactions" asp-action="Locations" style="font-size:x-small">Add Locations</a>
        <br />
        <br />
    </div>
    <input type="submit" value=" Add " class="btn btn-primary" />


</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




