@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Analytics</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img class="d-block w-100" src="~/images/graph1.png" alt="First slide">
        </div>
        <div class="col-lg-6">
            <img class="d-block w-100" src="~/images/graphs2.png" alt="First slide">
        </div>
    </div>
</div>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <img class="d-block w-100" src="~/images/Piechart1.png" alt="First slide">
        </div>
        <div class="col-lg-6">
            <img class="d-block w-100" src="~/images/piechart2.png" alt="First slide">
        </div>
    </div>
</div>