@{
    ViewData["Title"] = "Home";
}
<h1>Hello!</h1>
<br />
<div class="grid-container">

    <div class="grid-child-card">
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="~/images/UserGroup.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Quick Access List</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a asp-controller="Sites" asp-action="SitesIndex">Sites</a></li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a asp-controller="Sessions" asp-action="SessionsIndex">Sessions</a></li>
            </ul>

        </div>
    </div>

    <div class="grid-child-carousel">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a asp-area="" asp-controller="Admin" asp-action="SurveyAnalytics">
                        <img class="d-block w-100" src="~/images/parentSurvey.png" alt="First slide">
                    </a>
                </div>
                <div class="carousel-item">
                    <a asp-area="" asp-controller="Admin" asp-action="SurveyAnalytics">

                        <img class="d-block w-100" src="~/images/staffResults.png" alt="Second slide">
                   </a>
                </div>
                <div class="carousel-item">
                    <a asp-area="" asp-controller="Admin" asp-action="SurveyAnalytics">

                        <img class="d-block w-100" src="~/images/CombinedResult.png" alt="Third slide">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-child-secondcard">
        <div class="card" style="width: 13rem;">
            <img class="card-img-top" src="~/images/List.png" alt="Card image cap">

            <div class="card-body">
                <h5 class="card-title">Survey</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a asp-controller="Email" asp-action="RecipientIndex">Emails</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="Question" asp-action="QuestionIndex">Question pool</a>

                </li>
                
            </ul>

        </div>
    </div>
</div>


