@{
    ViewData["Title"] = "Success";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success!</h4>
    <p>You have given a Staff member a new role.</p>
</div>
<a asp-controller="Admin" asp-action="Index" class="btn btn-primary"> Home</a>
