@{ ViewData["Title"] = "Survey Analytics"; }

<!DOCTYPE html>

<form>
    <meta content="width=device-width, initial-scale=1, text-align: center">
    
    <br /><br />


    <table>
        <tr>
            <td>
                <select name="group" id="group" style="">
                    <option value="">Parent</option>
                    <option value="">Instructor</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><br /></td>
        </tr>
        <tr>
            <td>
                <div>
                    <input type="radio" id="quarterTimeFrame" name="TimeFrame" value="">
                    <label for="choice1">Choose by Quarter</label>

                    <table style="border: solid">
                        <tr>
                            <td>
                                <input type="radio" id="qOne" name="quarter" value="quarterOne">
                                <label for="qOne">Quarter One</label><br />

                                <input type="radio" id="qTwo" name="quarter" value="quarterTwo">
                                <label for="qTwo">Quarter Two  </label><br />

                                <input type="radio" id="qThree" name="quarter" value="quarterThree">
                                <label for="qThree">Quarter Three  </label><br />

                                <input type="radio" id="qFour" name="quarter" value="quarterFour">
                                <label for="qFour">Quarter Four</label><br />
                            </td>
                        </tr>
                    </table>
                    <br />
                    <div>
                        <input type="radio" id="rangeTimeFrame" name="TimeFrame" value="">
                        <label for="choice2">Choose by Date</label>
                        <table style="border: solid">
                            <tr>
                                <td>
                                    <label for="beginDate">Begin date:</label>
                                    <input type="date" id="start" name="trip-start"
                                           value="2018-01-01"
                                           min="2018-01-01" max="2021-12-31">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="endDate">End date:</label>
                                    <input type="date" id="end" name="trip-start"
                                           value="2021-10-29"
                                           min="2018-01-01" max="2021-12-31">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td>
                <a asp-controller="Admin" asp-action="AnalyticsResult" class="btn btn-primary"> Analytics</a>

            </td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td>
                <button class="btn btn-primary" onsubmit="">Print Report</button>
            </td>
        </tr>
    </table>
</form>