@model IEnumerable<StaffMembers.Models.DisplaySurveyViewModel>

@{ 
    ViewData["TItle"] = "Survey";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width = device-width" />
    </head>
    <body>
        <h1>@Html.DisplayFor(model => Model.SurveyName)</h1>
        <form>

        </form>
    </body>
</html>