@model StaffMembers.Sessions

@{
    ViewData["Title"] = "Add Sessions";
}

<form asp-action="AddSession" name="email-form" style="margin: 0 auto; width: 500px; padding: 0; border: 2px solid #CCC; border-radius: 1em; " class="text-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="sessionName" class="control-label">Session Name:</label><br />
        <input asp-for="sessionName"  />
        <span asp-validation-for="sessionName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-controller="Sessions" asp-action="SessionsIndex">All Sessions</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}