<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Connecting Thru Music</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/jquery.dataTables.js"></script>
    <link href="~/css/dataTables.dataTables.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Question" asp-action="QuestionIndex">Question Management</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="AddRecipient">Add Email</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="SurveyMgmt">Survey Managment</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="SurveyAnalytics">Survey Analytics</a>
                <a class="nav-link text-light" asp-area="" asp-controller="Staff" asp-action="List">Staff Members</a>

                <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="About">About</a>


            </div>

            <div id="main">
                <button class="openbtn" onclick="openNav()">☰</button>


                <script>function openNav() {
                        document.getElementById("mySidebar").style.width = "250px";
                        document.getElementById("main").style.marginLeft = "250px";
                    }

                    function closeNav() {
                        document.getElementById("mySidebar").style.width = "0";
                        document.getElementById("main").style.marginLeft = "0";
                    }</script>
            </div>
            <div class="siteFooterBar">
                <div class="content">
                    <a asp-area="" asp-controller="Admin" asp-action="Index">
                        <img src="~/images/Logo.png" width="140" height="66">
                    </a>
                </div>

            </div>
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Admin" asp-action="Index">Connecting Thru Music</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>


                <div class="Search-container">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search staff" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <a asp-controller="StaffStartSurvey" asp-action="Index" class="btn btn-outline-primary"> Switch</a>



        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-light">
            &copy; 2021 - Connecting Thru Music - <a asp-area="" asp-controller="Admin" asp-action="About">About</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


