@model StaffMembers.Models.Roles
@{
    ViewBag.Title = "Assign Roles";
}

    <div class="container">
    
        <form>
            <div class="radio">
                <label>
                    <input type="radio" name="optradio" required> Admin
                </label>
                <br />
                <label>
                    <input type="radio" name="optradio" required> User
                </label>
                <br />
               
            </div>
        </form>
     
    </div>
<a asp-controller="Admin" asp-action="Message" class="btn btn-outline-primary">Submit</a>
<a asp-controller="Staff" asp-action="List" class="btn btn-dark"> < Back</a>